.headerWrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 27px;
}
.logoo img{
    width: 150px;
    height: 63px;
}
.searchBoxx{
    border:1px solid #000000;
    border-radius: 8px;
    width: 509px;
    height: 48px;
    padding-left: 40px;
    font-size:18px;
    font-weight: 700;
}
.scButton{
    margin-left:24px;
    background-color: #4F75C2;
    width: 138px;
    height: 46px;
    border-radius: 12px;
    border:none;
    color:white;
    font-size:18px;
    font-weight: 700;
}
.scButton a{
    font-size: 18px;
    font-weight: 700;
    color:white;
    text-decoration: none;
}
.recButton{
    background-color: #204080;
    border:none;
    width: 216px;
    border-radius: 12px;
    height: 46px;
}
.recButton a{
    text-decoration: none;
    color:white;
    font-weight: 700;
    font-size: 18px;
}